* {
    margin: 0;
    padding: 0;
}

/* paleta de cores */
:root {
    --primary-color: #F6C7DD;
    --secundary: white;
    --tertiary:#D15F8B;
    --fonts_color: #41424C;

}


body {
    font-family: "Poppins", serif ;
    font-weight: 300;
    color: var(--fonts_color);    
    background: url(imgs/imagem_laiza_sem_moldura.png) ;   
    backdrop-filter: blur(70px);
    padding: 50px 0;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: var(--secundary);
}

p {
    font-size: 1.2em;
}

li {
    font-size: 1.2em;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.0em;
}



/* Area do container */
#container {
    max-width: 850px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--primary-color);    
    padding: 10px 0 10px 0;
}

/* Area de seção */
section.box {
    margin: 10px auto;
    position: relative;
}


/* seção apresentação */
.box #img-id {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: 40px;
    border-radius: 10px;
    width: 400px;
    height: 533px;

}

.box #title {
    background: linear-gradient(0deg, rgba(246,199,221,1) 60%, rgba(255,253,253,0.01724439775910369) 100%);
    margin-top: -180px;
    padding-top: 90px;
    position: relative;
}

.box h1, h2 {
    display: block;
    text-align: center;
    padding: 5px 0;    

}

/* styles all h1  */

.box h1 {
    text-shadow: 3px 3px rgba(65,66,76, 0.3);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.box h2 {
    letter-spacing: 2px;
    text-shadow: 2px 2px rgba(65,66,76, 0.3);
}


/* seção contato */
.box ul {
    margin: 0 auto;
    padding: 30px;
    width: 90%;
}

.box ul li {
    list-style: none;

}

.box ul li a {
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
    display: block;
    margin: 20px;
    padding: 25px 0;
    border-radius: 50px;
    cursor: pointer;
    background: var(--tertiary);
}

.box li i {
    float: left;
    font-size: 40px;
    padding: 15px;
    margin-left: 65px;
    color: var(--fonts_color);
    position: absolute;
    line-height: 55px;
}

.box ul li a:hover {
    background: none;
    color: var(--tertiary) ;
    border: 2px solid var(--secundary);
    transition-duration: 0.7s;
    transform: scale(1.1);
}


/* seção procedimentos */
.box-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    margin-top: 25px; 
    margin-bottom: 45px;
        
}

.box-grid {
    border: 2px solid var(--primary-color);
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: var(--tertiary);
    margin-top: 20px;
    margin-left: 40px;
    margin: 20px 40px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.box-grid img {
    border-radius: 5px 5px 0 0;
}

.box-grid h3{
    color: white;
    padding-top: 10px;

}

.box-grid strong {
    padding-top: 5px;
    display: block;
    color: white;
}

.box-grid:hover  {
    transform: scale(1.1);
    transition-duration: 0.7s;
}

.box-grid input {
    width: 250px;
    height: 40px;
    margin: 10px auto;
    background: var(--fonts_color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;   
}


.box-grid input:hover {
    background: white;
    color: var(--fonts_color);
    transition-duration: 0.7s;
}

/* localização */

.localization {
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
    cursor: pointer;

}

.localization iframe {
    width: 100%;
    opacity: 0.8;
}

footer {
    text-align: center;
    padding: 15px 0;
    color: var(--fonts_color);
    font-size: 0.9em;
}

footer a {
    color: var(--fonts_color);
    font-size: 0.8em;
}

footer strong {
    color: #062096;
}


/* css pagina cronograma */

#body_secundary {
    background-image: none;
    background: var(--primary-color);
    
}

.fa-solid {
    font-size: 1.7em;
    margin: 10px;
    color: var(--fonts_color);
    padding: 10px;
    border-radius: 50%;

}

.fa-solid:hover {
    background: #D15F8B;
    transition: 0.8s;
}

#container2 {
    max-width: 1440px;
    width: 70%;
    border: 2px solid var(--secundary);
    margin: 0 auto;

}

.A-info h1{
    text-align: center;
    margin: 15px 0;
}


.A-img img{
    width: 100%;
}

.A-texto {
    padding: 20px 10px;
}

.A-texto h2 {
    text-align: start;
    margin-bottom: 15px;    
}

.A-texto p {
    margin-bottom: 10px;
    text-align: justify;

}

/* css pagina progressiva */

.A-texto ul, ol {
    padding: 10px 40px;
}

.A-texto li {
    padding: 5px 0;
}


/* responsividade */


@media (max-width:850px) {

    body {
        background: none;
        padding: 0;
    }

    #container {
        width: 100%;
    }
}

@media (max-width:645px) {
    #container {
        width: 100%;
        padding: 0;
    }

    section.box {
        position: relative;
        margin-top: 0;
 
    }

    /* area apresentacao */

    .box #img-id {
        width: 100%;
        height: 533px;
        margin-top: 0;
        border-radius: none;
    
    }

    /* area contato */

    .box ul {

        margin: 0 auto;
    }

    
    .box li i {

        font-size: 1.7em;

    }
    
    /* area procedimento */

    .box-flex {
        display: inline-block;
        justify-items: center;
        width: 100%;
    }  
    
    .box-grid {
        margin: 40px auto;
    }

    .box-grid:hover  {
        transform: none; 
    }

    .fa-solid {
        text-align: center;
    }

    /* area localizacao */

}


@media (max-width:370px) {

    #container {
        width: 375px;
        padding: 0;
    }

}